html {
  scroll-behavior: smooth;
}

.block {
  width: 80%;
  margin: auto;
}

.blockHead {
  width: 100%;
  height: 100px;
  background-color: #800020;
  display: flex;
  align-items: center;
}
.blockHead h2 {
  padding: 5px;
  color: white;
  margin-left: 50px;
  margin-top: 0px;
  font-weight: lighter;
  font-size: 2.5em;
}

@media only screen and (max-width: 575px) {
  #nav1 {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
#nav1 div span {
  background: white;
}
#nav1 #navbarNav ul li {
  text-shadow: 1px 1px 2px #000000;
  margin: 10px;
}
@media only screen and (max-width: 575px) {
  #nav1 #navbarNav ul li :hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.main {
  background-image: url("../images/sbphoto.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire div */
  background-attachment: fixed;
}
.main .title {
  position: absolute;
  bottom: 100px;
  left: 100px;
  color: white;
}
.main .title :first-child {
  font-weight: bolder;
  font-size: 3em;
}
@media only screen and (max-width: 600px) {
  .main .title {
    font-size: 0.8em;
    left: 50px;
  }
}

.projContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.projContainer .projBlock {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.projContainer .projBlock .projDesc {
  text-align: center;
  padding: 5px;
}
.projContainer .projBlock .projDesc span {
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
}
.projContainer .projBlock .projDesc h4 {
  margin-top: 15px;
}
.projContainer .projBlock .projDesc ul {
  text-align: left;
}
.projContainer .projBlock .projPic {
  overflow: hidden;
  border-width: 7.5px;
  border-style: ridge;
  border-color: #2eb9ce;
}
.projContainer .projBlock .projPic:hover img {
  transform: scale(1.1);
  opacity: 0.9;
  transition: transform 2s ease-in-out;
}
.projContainer .projBlock .projPic img {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

.skills {
  display: flex;
  flex-direction: column;
}
.skills .skillContainer {
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
}
.skills .skillContainer .iconsContainer {
  display: flex;
  justify-content: space-evenly;
}
.skills .skillContainer .iconsContainer .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills .skillContainer .iconsContainer .icon img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
@media screen and (max-width: 700px) {
  .skills .skillContainer .iconsContainer .icon img {
    width: 40px;
    height: 40px;
  }
}

.edu {
  flex-direction: column;
  display: flex;
}
.edu .schoolBlock {
  display: flex;
  padding: 20px;
  margin: 20px;
}
@media screen and (max-width: 900px) {
  .edu .schoolBlock {
    flex-direction: column;
    align-items: center;
  }
}
.edu .schoolBlock .school {
  width: 400px;
}
.edu .schoolBlock .school #york-logo {
  width: 200px;
}
.edu .schoolBlock .school #sheridan-logo {
  width: 75px;
}
.edu .schoolBlock .school #sheridanTitle {
  margin-right: 50px;
}
.edu .schoolBlock .courses {
  width: 250px;
}
@media screen and (max-width: 900px) {
  .edu .schoolBlock .courses {
    margin-top: 30px;
  }
}
.edu .schoolBlock .courses p {
  margin: 0;
}

.contactContainer {
  max-width: 400px;
  min-width: 350px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
  align-items: center;
}
.contactContainer div {
  text-align: center;
}
.contactContainer div a {
  color: black;
  float: left;
}

/* Turn off parallax scrolling for all tablets and phones.  */
@media only screen and (max-device-width: 1366px) {
  .main {
    background-attachment: scroll;
  }
}
.dropShadow {
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 0.6s both;
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  }
}
.slide-in {
  -webkit-animation: slide-in-left 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
