$block_width: percentage(8/10);
$large-icon: 80px; //skills icons
$small-icon: 50px;
$projIconSize: 300px; //project icons
$project-icon-shadow: grey;
$blockHead_h: 100px;
$heading-bg: #800020;

html {
  scroll-behavior: smooth;
}

.block {
    width: $block_width;
    margin: auto;
}


.blockHead {
    width: 100%;
    height: $blockHead_h;
    background-color: $heading-bg;
    display: flex;
    align-items: center;
    h2 {
        padding: 5px;
        color: white;
        margin-left: 50px;
        margin-top: 0px;
        font-weight: lighter;
        font-size: 2.5em;
    }
}

/* ----------- navigation ----------- */

.navbar {
    background-color: rgba(199, 199, 139, 0.3);
    padding: 10px;
    outline: 1px solid blue;
    width: 100%;
    position: fixed;
    
    .list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        
        & li {
            font-size: 16px;
            padding: 15px 5px;
            white-space: nowrap;
        }
        .icon { //first list item
            position: relative; 
            order: 1;
            outline: 2px dotted plum;
            &_label {
                position: absolute; 
                top: 50%; 
                transform: translateY(-50%);
                right: 20px; 
                outline: 2px dotted blue; 
                width: 40px;
                height: 40px;

                &_bar {
                    display: inline-block;
                    position: absolute;
                    width: 25px;
                    height: 2.5px;
                    background-color: white;
                    transition: all .5s ease-in-out;
                }
                &_bar--top { top: 10px; left: 5px;}
                &_bar--mid { top: 20px; left: 5px;}
                &_bar--bottom { top: 30px; left: 5px;}
            }

            #icon_check {
                display: none;

                &:checked + label > .icon_label_bar--mid {
                left: -2000px;
                }

                &:checked + label > .icon_label_bar--top {
                    transform: rotate(405deg) ;
                    top: 20px;
                }
                &:checked + label > .icon_label_bar--bottom {
                    transform: rotate(-45deg);
                    top: 20px;
                }
            }
        }
        // .logo {
        // }
        .list_item {
            width: 100%;
            text-align: center;
            order: 2;
            display: none;

            &_link {
                color: white;
                text-decoration: none;
            }

            &.active {
                display: block;
                outline: 2px solid green;
            }
        }
    }
}






/* Desktop menu */
@media all and (min-width: 600px) {
    .list_item {
        display: block;
        width: auto;
    }
    .icon {
        display: none;
    }
    .logo {
        order: 0;
    }
    .list_item {
        order: 1;
    }
    .list li {
        padding: 15px 10px;
    }
}





.main {
    background-image: url('../images/sbphoto.jpg');
    width: 100%;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;

    .title {
        position: absolute;
        bottom: 50px;
        left: 75px;
        color: white;
       
        h1,h2 {        
            font-size: 2.5em;
            text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);

        }
        
        @media only screen and (max-width: 500px) {
            left: 25px;
            bottom: 25px;
            h1,h2 {
                font-size: 1.75em;

            }
        }
    }
}

.projContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .projBlock {
        width: $projIconSize;
        display: flex;
        flex-direction: column;
        margin: 15px;
        
        .projPic {
            overflow: hidden; 
            height: $projIconSize;
            width: 100%;
            border: none;
            box-shadow: 2px 2px 8px $project-icon-shadow;
            &:hover {
                & img {
                    transform: scale(1.1);
                    opacity: 0.9;
                    transition: transform 2s ease-in-out;
                    margin: 0;
                    padding: 0;
                }
            }
            img {
                min-height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
            } 
        }
        .projDesc {
            text-align: center;
            padding: 5px;
            
            span {
                font-family: 'Permanent Marker', cursive;
                font-size: 1.5em;
            }
            h4 {
                margin-top: 15px;
            }
            ul {
                text-align: left;
            }
        }
    }
}

.skills {
    display: flex;
    flex-direction: column;

    .skillContainer {
        border: 1px solid black;
        border-radius: 25px;
        padding: 20px;
        margin: 10px;

        .iconsContainer {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            
            .icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 5px;
                img {
                    width: $large-icon;
                    height: $large-icon;
                    object-fit: contain;

                    @media screen and (max-width: 500px) {
                        width: $small-icon;
                        height: $small-icon;
                    }
                }
            }
        }
    }
}

.school-logo {
    height: 100px;
}
.courses {
    p {
        margin: 0px;
    }
}

.contactContainer {
    max-width: 400px;
    min-width: 350px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
    align-items: center;
    
    div {
        text-align: center;

        a {
            color: black;
            float: left;
        }
    }
}


/* Turn off parallax scrolling for all tablets and phones.  */
@media only screen and (max-device-width: 1366px) {
  .main {
    background-attachment: scroll;
  }
}

//effects for the main title: my name
.dropShadow {
	-webkit-animation: text-shadow-drop-center 0.6s both;
	        animation: text-shadow-drop-center 0.6s both;
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  }
}

.slide-in {
	-webkit-animation: slide-in-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

